<section class="hero-filter relative">
    <div class="hero-filter__bg absolute z-1 top-0 left-0 w-full h-[38.2rem] ibg">
        <img class="object-top" src="img/hero-filter-bg.jpg" alt="">
    </div>
    <div class="hero-filter__body container text-white relative z-2 min-h-[42.8rem] pt-[18rem] mb-[5rem]">
        <div class="hero-filter__box bg-themeColor rounded-[0.6rem] py-[6rem] px-[4rem] min-h-[24.8rem] md:px-[9rem]">
            <h1 class="hero-filter__title title-2 text-center mb-[2rem]">
                Vind snel de perfecte baan bij Albert Heijn
            </h1>
            <div class="hero-filter__list grid grid-cols-1 gap-[2rem] lg:gap-[4rem] lg:grid-cols-3">
                @@include('../multiple-select/_multiple-select.html', {
                    "placeholder": "Waar wil je werken?"
                })
                @@include('../multiple-select/_multiple-select.html', {
                    "placeholder": "In welk filiaal wil je werken?"
                })
                @@include('../multiple-select/_multiple-select.html', {
                    "placeholder": "Wat wil je doen?"
                })
            </div>
        </div>
    </div>
    <div class="hero-filter__footer container flex flex-wrap items-center justify-between gap-[2rem] md:flex-nowrap">
        <div class="hero-filter__selected-filters flex flex-wrap items-center gap-[1rem] md:flex-nowrap">
            <div class="hero-filter__selected-filters-label font-bold text-themeColorThird">Geselecteerde filters</div>
            <div class="hero-filter__selected-filters-list flex flex-wrap gap-[0.5rem] min-h-[3rem]"></div>
            <button class="hero-filter__remove-all-filters text-themeColorSecond transition hover:text-red-600" data-clear-selected-filters>Alle filters verwijderen</button>
        </div>
        <div class="hero-filter__found-result text-themeColorThird opacity-25">23 vacatures gevonden</div>
    </div>
</section>