<section class="vacancy-single-hero relative bg-white" data-vacancy-single-hero >
    <div class="vacancy-single-hero__img absolute z-3 hidden lg:block top-0 left-0 w-[43.88%]">
        <div class="vacancy-single-hero__img-inner ibg relative pb-[75.94%]">
            <img src="img/bg.jpg" alt="">
        </div>
    </div>
    <div class="vacancy-single-hero__inner relative">
        <div class="vacancy-single-hero__bg absolute z-1 top-0 right-0 w-full h-full lg:w-[75%]">
            <div class="vacancy-single-hero__decor ibg relative w-full h-full">
                <img src="img/blue-bg.jpg" alt="">
            </div>
        </div>
        <div class="vacancy-single-hero__body relative z-2 text-white ">
            <div class="container flex flex-col">
                <div
                    class="vacancy-single-hero__inner min-h-[36rem] lg:w-[54%] lg:ml-auto py-[5rem] flex flex-col justify-center">
                    <h1 class="vacancy-single-hero__title title-1 mb-[1rem]">Verkoopmedewerker</h1>
                    <div class="vacancy-single-hero__subtitle mb-[2.5rem] text-[2rem] leading-[2.4rem]">Locatie
                        Almere</div>
                    <a href="#" class="btn-default btn-default--third self-start">Solliciteer direct</a>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-[8rem]"></div>
</section>