<section class="hero-second @@mode relative" data-hero-second>
    <div class="hero-second__bg absolute z-1 top-0 left-0 w-full h-full lg:h-auto">
        <div class="hero-second__bg-decor absolute z-2 left-0 w-full md:w-[60.75%] lg:w-[53.75%] h-full lg:h-auto">
            <img class="w-full md:w-auto md:min-h-[44rem] h-full dm:h-auto object-bottom md:object-right object-cover" src="img/hero-second-decor.png" alt="">
        </div>
        <div class="hero-second__bg-img hidden absolute top-0 right-0 z-1 w-1/2  md:block w-[58%] xl:w-[56%] 2xl:w-[54%] h-[36rem]">
            <img class="w-full h-full object-left object-cover" src="@@img" alt="">
        </div>
    </div>
    <div class="hero-second__body-wrap relative z-2">
        <div class="hero-second__body container text-white flex flex-col gap-[3rem] min-h-[45rem] pt-[4.6rem] pb-[13rem]">
            <div class="hero-second__breadcrumbs max-w-[41.3rem]">
                <ul class="breadcrumbs font-bold text-[1.2rem] leading-[2.2rem]">
                    @@for (var i = 0; i < breadcrumbs.length; i++) { 
                        <li class="inline">`+breadcrumbs[i]+`</li>
                    }
                </ul>
            </div>
            <h1 class="hero-second__title title-1 max-w-[41.3rem]">@@title</h1>
            <div class="hero-second__text max-w-[41.3rem]">@@text</div>
        </div>
    </div>
</section>