<div class="multiple-select relative" data-multiple-select>
    <div class="multiple-select__head relative cursor-pointer bg-white flex flex-wrap items-center gap-[0.5rem]  rounded-[0.5rem] min-h-[6.2rem] py-[1.2rem] pl-[2.6rem] pr-[5rem] text-themeColorThird">
        @@placeholder
    </div>
    <div class="multiple-select__options absolute min-w-full left-0 max-h-[31.5rem] overflow-y-auto bg-white rounded-[0.5rem] py-[1.4rem]">
        <label class="multiple-select__option relative cursor-pointer">
            <input class="absolute opacity-0" type="checkbox" value="Amsterdam">
            <div class="multiple-select__option-text px-[2.5rem]  py-[0.8rem] text-themeColorThird transition">Amsterdam</div>
        </label>
        <label class="multiple-select__option relative cursor-pointer">
            <input class="absolute opacity-0" type="checkbox" value="Assen">
            <div class="multiple-select__option-text px-[2.5rem]  py-[0.8rem] text-themeColorThird transition">Assen</div>
        </label>
        <label class="multiple-select__option relative cursor-pointer">
            <input class="absolute opacity-0" type="checkbox" value="Almere">
            <div class="multiple-select__option-text px-[2.5rem]  py-[0.8rem] text-themeColorThird transition">Almere</div>
        </label>
        <label class="multiple-select__option relative cursor-pointer">
            <input class="absolute opacity-0" type="checkbox" value="Biddinghuizen">
            <div class="multiple-select__option-text px-[2.5rem]  py-[0.8rem] text-themeColorThird transition">Biddinghuizen</div>
        </label>
        <label class="multiple-select__option relative cursor-pointer">
            <input class="absolute opacity-0" type="checkbox" value="Bolsward">
            <div class="multiple-select__option-text px-[2.5rem]  py-[0.8rem] text-themeColorThird transition">Bolsward</div>
        </label>
        <label class="multiple-select__option relative cursor-pointer">
            <input class="absolute opacity-0" type="checkbox" value="Bredevoort">
            <div class="multiple-select__option-text px-[2.5rem]  py-[0.8rem] text-themeColorThird transition">Bredevoort</div>
        </label>
        <label class="multiple-select__option relative cursor-pointer">
            <input class="absolute opacity-0" type="checkbox" value="Den">
            <div class="multiple-select__option-text px-[2.5rem]  py-[0.8rem] text-themeColorThird transition">Den Helder</div>
        </label>
        <label class="multiple-select__option relative cursor-pointer">
            <input class="absolute opacity-0" type="checkbox" value="Dordrecht">
            <div class="multiple-select__option-text px-[2.5rem]  py-[0.8rem] text-themeColorThird transition">Dordrecht</div>
        </label>
        <label class="multiple-select__option relative cursor-pointer">
            <input class="absolute opacity-0" type="checkbox" value="Delft">
            <div class="multiple-select__option-text px-[2.5rem]  py-[0.8rem] text-themeColorThird transition">Delft</div>
        </label>
        <label class="multiple-select__option relative cursor-pointer">
            <input class="absolute opacity-0" type="checkbox" value="Ravenstein">
            <div class="multiple-select__option-text px-[2.5rem]  py-[0.8rem] text-themeColorThird transition">Ravenstein</div>
        </label>
    </div>
</div>