<section class="advantages bg-themeColor pt-[8rem] lg:pt-[9.5rem] pb-[8rem]">
    <div class="container text-white">
        <h2 class="advantages__title title-2 text-center mb-[6rem]">Waarom werken bij Albert Heijn?</h2>
        <ul class="advantages__list mb-[7rem]">
            <li>
                <div class="advantages__list-icon h-[8.5rem] flex items-center justify-center mb-[5rem]">
                    <img class="h-full w-auto" src="img/advantages-icon-1.svg" alt="">
                </div>
                <div class="advantages__list-text text-center text-md font-bold">Werken wanneer het jou uitkomt</div>
            </li>
            <li>
                <div class="advantages__list-icon h-[8.5rem] flex items-center justify-center mb-[5rem]">
                    <img class="h-full w-auto" src="img/advantages-icon-2.svg" alt="">
                </div>
                <div class="advantages__list-text text-center text-md font-bold">Doorgroeien kan!</div>
            </li>
            <li>
                <div class="advantages__list-icon h-[8.5rem] flex items-center justify-center mb-[5rem]">
                    <img class="h-full w-auto" src="img/advantages-icon-3.svg" alt="">
                </div>
                <div class="advantages__list-text text-center text-md font-bold">Je verdient lekker</div>
            </li>
            <li>
                <div class="advantages__list-icon h-[8.5rem] flex items-center justify-center mb-[5rem]">
                    <img class="h-full w-auto" src="img/advantages-icon-4.svg" alt="">
                </div>
                <div class="advantages__list-text text-center text-md font-bold">Je werkt in een leuk team</div>
            </li>
            <li>
                <div class="advantages__list-icon h-[8.5rem] flex items-center justify-center mb-[5rem]">
                    <img class="h-full w-auto" src="img/advantages-icon-5.svg" alt="">
                </div>
                <div class="advantages__list-text text-center text-md font-bold">Je werkt lekker dicht bij huis</div>
            </li>
        </ul>
        <div class="advantages__bottom text-center">
            <a href="#" class="advantages__btn btn-default">Solliciteer direct</a>
        </div>
    </div>
</section>