<div class="filter bg-white lg:rounded-[0.5rem] px-[2rem] lg:px[2.5rem] pb-[2rem] lg:py-[3.5rem] fixed lg:static z-52 top-0 left-0 w-full h-full lg:h-auto" data-filter>
    <div class="filter__head lg:hidden flex min-h-[8rem] justify-between items-center">
        <h3 class="filter__title title-3">Filter</h3>
        <div class="filter__close w-[3rem] p-[0.5rem]" data-action="close-filter">
            <img class="w-full h-auto" src="img/icons/close.svg" alt="">
        </div>
    </div>
    <div class="filter__body flex flex-col gap-[3rem]">
        <div class="filter__row">
            <div class="filter__title text-sm font-bold mb-[1.5rem]">Soort vacature</div>
            <ul class="filter__list flex flex-col gap-[0.6rem]">
                <li>
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">Stage</div>
                    </label>
                </li>
                <li>
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">Bijbaan</div>
                    </label>
                </li>
                <li>
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">Parttime</div>
                    </label>
                </li>
                <li>
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">Fulltime</div>
                    </label>
                </li>
            </ul>
            <div class="filter__btn-more filter__btn-more--open hidden" data-text="Verbergen">Toon meer</div>
        </div>
        <div class="filter__row">
            <div class="filter__title text-sm font-bold mb-[1.5rem]">Functies</div>
            <ul class="filter__list flex flex-col gap-[0.6rem]">
                <li>
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">Shiftleider</div>
                    </label>
                </li>
                <li>
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond" data-tooltip="text toltip">Vroege vogels</div>
                    </label>
                </li>
                <li>
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">BBL-talent</div>
                    </label>
                </li>
                <li>
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">Kassamedewerker</div>
                    </label>
                </li>
                <li>
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">Verkoopmedewerker Brood</div>
                    </label>
                </li>

                <li class="hidden">
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">Vroege vogels</div>
                    </label>
                </li>
                <li class="hidden">
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">BBL-talent</div>
                    </label>
                </li>
                <li class="hidden">
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">Kassamedewerker</div>
                    </label>
                </li>
                <li class="hidden">
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">Verkoopmedewerker Brood</div>
                    </label>
                </li>
            </ul>
            <div class="filter__btn-more hidden" data-text="Verbergen">Toon meer</div>
        </div>
        <div class="filter__row">
            <div class="filter__title text-sm font-bold mb-[1.5rem]">Locaties</div>
            <ul class="filter__list flex flex-col gap-[0.6rem]">
                <li>
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">Amersfoort</div>
                    </label>
                </li>
                <li>
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">Enschede</div>
                    </label>
                </li>
                <li>
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">Almere</div>
                    </label>
                </li>
                <li>
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">Hilversum</div>
                    </label>
                </li>
                <li>
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">Amsterdam</div>
                    </label>
                </li>

                <li class="hidden">
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">Vroege vogels</div>
                    </label>
                </li>
                <li class="hidden">
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">BBL-talent</div>
                    </label>
                </li>
                <li class="hidden">
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">Kassamedewerker</div>
                    </label>
                </li>
                <li class="hidden">
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">Verkoopmedewerker Brood</div>
                    </label>
                </li>
            </ul>
            <div class="filter__btn-more hidden" data-text="Verbergen">Toon meer</div>
        </div>
        <div class="filter__row">
            <div class="filter__title text-sm font-bold mb-[1.5rem]">Vestigingen</div>
            <ul class="filter__list flex flex-col gap-[0.6rem]">
                <li>
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">Parkwijk</div>
                    </label>
                </li>
                <li>
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">Markenpoort</div>
                    </label>
                </li>
                <li>
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">Europakwartier</div>
                    </label>
                </li>
                <li>
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">Columbuskwartier</div>
                    </label>
                </li>
                <li>
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">Stedenkwartier</div>
                    </label>
                </li>

                <li class="hidden">
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">Vroege vogels</div>
                    </label>
                </li>
                <li class="hidden">
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">BBL-talent</div>
                    </label>
                </li>
                <li class="hidden">
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">Kassamedewerker</div>
                    </label>
                </li>
                <li class="hidden">
                    <label class="checkbox-radio flex items-center cursor-pointer relative select-none">
                        <input class="absolute opacity-0" type="checkbox">
                        <div class="checkbox-radio__square w-[1.4rem] h-[1.4rem] basis-auto shrink-0 grow-0 mr-[1.4rem] border-[0.2rem] border-[#CFD2D7] rounded-[0.2rem]"></div>
                        <div class="checkbox-radio__text text-[1.5rem] leading-[1.8rem] text-textColorDarkSecond">Verkoopmedewerker Brood</div>
                    </label>
                </li>
            </ul>
            <div class="filter__btn-more hidden" data-text="Verbergen">Toon meer</div>
        </div>
    </div>
</div>