<div class="card @@mode bg-white rounded-[0.5rem] h-full flex flex-col">
    <div class="card__head flex items-center min-h-[7rem] py-[1rem] px-[2.5rem] text-md font-bold">@@head</div>
    <div class="card__img ibg relative pb-[52.25%]">
        <img src="@@img" alt="">
    </div>
    <div class="card__content flex flex-col pt-[3rem] pb-[2rem] px-[2.5rem] gap-[2rem] grow">
        <ul class="card__list flex flex-col gap-[1.1rem] text-textColorDarkSecond">
            <li class="relative pl-[3rem] before:content-['\e90b'] before:font-icomoon before:absolute before:left-0 before:top-0 before:text-[0.8em] before:text-themeColor">
                Veel contact met klanten
            </li>
            <li class="relative pl-[3rem] before:content-['\e90b'] before:font-icomoon before:absolute before:left-0 before:top-0 before:text-[0.8em] before:text-themeColor">
                Flexibele werktijden
            </li>
            <li class="relative pl-[3rem] before:content-['\e90b'] before:font-icomoon before:absolute before:left-0 before:top-0 before:text-[0.8em] before:text-themeColor">
                Werken in een leuk team
            </li>
        </ul>
        <a href="#" class="card__btn btn-default btn-default--third mt-auto">Lees meer</a>
    </div>
</div>