.application-process {

    &__title {
    }

    &__list {
    }

    &__list-circle {
    }

    &__list-line {
        
        @media (min-width: 768px) {
            left: calc(50% + 2.8rem);
            width: calc((50% - 2.8rem) * 2);
        }

        &[data-text] {
            &:before {
 
                content: attr(data-text);
                left: 0;
    
                width: 100%;
                text-align: center;
                font-size: 1.9rem;
                line-height: 1.26em;

                @media (min-width: 768px) {
                    position: absolute;
                    bottom: 1.3rem;
                }
            }
        }
    }

    &__list-text {
    }

    &__bottom {
    }
}

.application-tips {

    &__content {
    }

    &__title {
    }
}

.stacked-list {

    &__item {
    }

    &__item-head {
        &.active {
            & i {
                transform: translateY(-50%) scale(1, -1);
            }
        }
    }

    &__item-content {
    }
}

.vacancy-cta {

    &__title {
    }

    &__form {

        & .gform_body {


            & .gform_fields {
                display: flex !important;
                flex-wrap: wrap;
                gap: 2rem !important;
            }

            & .form__info-box  {
                margin-bottom: 0;
            }

            & .gfield {
                flex: 0 1 100%;
                & input[type="text"],
                input[type="email"],
                input[type="tel"],
                input[type="password"] {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    background-color: #fff;
                    border-radius: 0.5rem;
                    padding: 1rem 2.5rem;
                    font-weight: 400;
                    color: $themeColorThird;
                    height: 6.2rem;

                    &::placeholder {
                        color: $themeColorThird;
                    }

                    &:focus-visible {
                        outline-color: rgba(#00a1e2, 0.14);
                        outline-offset: 0.2rem;
                        outline-width: 0.2rem;
                    }
                }

                & textarea {
                    display: flex;
                    width: 100% !important;
                    align-items: center;
                    background-color: #fff;
                    border-radius: 0.5rem;
                    padding: 2rem 2.5rem;
                    font-weight: bold;
                    color: $themeColorThird;
                    height: 14.3rem !important;
                    resize: none;

                    &::placeholder {
                        color: rgba($themeColorThird, 0.47);
                    }

                    &:focus-visible {
                        outline-color: rgba(#00a1e2, 0.14);
                        outline-offset: 0.2rem;
                        outline-width: 0.2rem;
                    }
                }

                & .gfield_validation_message {
                    padding: 0;
                    background: transparent;
                    border: none;
                    font-size: 1.7rem;
                }

                &#field_2_6 {
                    margin-top: 2.8rem;
                }

                &--width-half  {
                    @media (min-width: 768px) {
                        flex: 0 1 calc(50% - 1rem);
                    }
                }
            }

            & .gform_confirmation_message {
                text-align: center !important;
                font-size: 2.4rem !important;
                line-height: 1.2em !important;
            }
        }

        & .gform_footer  {
            margin: 0 !important;
            padding: 0 !important;
            display: block !important;

            @media (min-width: 768px) {
                text-align: right;
            }

            & .gform_button {
                display: inline-flex;
                min-height: 5.3rem;
                align-items: center;
                padding: 1rem 2.5rem;
                gap: 0.7rem;
                font-size: 1.7rem;
                line-height: 2.1rem;
                color: $textColorLight;
                background-color: $themeColorThird;
                border-radius: 0.4rem;
                text-align: center;
                justify-content: center;
                transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}