<header class="header fixed z-50 w-full top-0 left-0 bg-white" data-header>
    <div class="container">
        <div class="header__body flex items-center min-h-[8rem] gap-[2rem]">
            <div class="header__logo w-[11.2rem] lg:mr-[12.4rem]">
                <a href="#">
                    <img src="img/logo/logo.svg" alt="">
                </a>
            </div>
            <ul class="header__nav hidden lg:flex mr-auto gap-[3rem]">
                <li>
                    <a href="#"
                        class="header__nav-link transition hover:opacity-50 flex items-center min-h-[4rem] font-bold text-[1.7rem] leading-[2.1rem]">Vacatures</a>
                </li>
                <li class="menu-item-has-children">
                    <a href="#"
                        class="header__nav-link transition hover:opacity-50 flex items-center min-h-[4rem] font-bold text-[1.7rem] leading-[2.1rem]">Onze
                        filialen </a>
                    <ul class="sub-menu absolute top-[100%] left-0 bg-white min-w-[18rem] p-[2.5rem] left-[-2.5rem]">
                        <li>
                            <a href="#"
                                class="sub-menu__link text-[1.7rem] leading-[3.8rem] transition hover:opacity-50">Almere</a>
                        </li>
                        <li>
                            <a href="#"
                                class="sub-menu__link text-[1.7rem] leading-[3.8rem] transition hover:opacity-50">Amsterdam
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="sub-menu__link text-[1.7rem] leading-[3.8rem] transition hover:opacity-50">Enschede</a>
                        </li>
                        <li>
                            <a href="#"
                                class="sub-menu__link text-[1.7rem] leading-[3.8rem] transition hover:opacity-50">Hilversum</a>
                        </li>
                        <li>
                            <a href="#"
                                class="sub-menu__link text-[1.7rem] leading-[3.8rem] transition hover:opacity-50">Kampen</a>
                        </li>
                        <li>
                            <a href="#"
                                class="sub-menu__link text-[1.7rem] leading-[3.8rem] transition hover:opacity-50">Utrecht
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#"
                        class="header__nav-link transition hover:opacity-50 flex items-center min-h-[4rem] font-bold text-[1.7rem] leading-[2.1rem]">Alle
                        functies </a>
                    <ul class="sub-menu absolute top-[100%] left-0 bg-white min-w-[18rem] p-[2.5rem] left-[-2.5rem]">
                        <li>
                            <a href="#"
                                class="sub-menu__link text-[1.7rem] leading-[3.8rem] transition hover:opacity-50">Hilversum</a>
                        </li>
                        <li>
                            <a href="#"
                                class="sub-menu__link text-[1.7rem] leading-[3.8rem] transition hover:opacity-50">Kampen</a>
                        </li>
                        <li>
                            <a href="#"
                                class="sub-menu__link text-[1.7rem] leading-[3.8rem] transition hover:opacity-50">Utrecht
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"
                        class="header__nav-link transition hover:opacity-50 flex items-center min-h-[4rem] font-bold text-[1.7rem] leading-[2.1rem]">Contact</a>
                </li>
            </ul>
            <div class="header__buttons hidden lg:flex items-center gap-[3rem]">
                <a href="#"
                    class="header__toggle-login font-bold text-[1.7rem] leading-[2.1rem] flex items-center gap-[0.7rem] transition hover:opacity-50">
                    <img class="w-[1.8rem] shrink-0" src="img/icons/user.svg" alt="">
                    Inloggen
                </a>
                <a href="#" class="header__vacancies btn-default">
                    Alle vacatures
                    <span>36</span>
                </a>
            </div>
            <div class="header__burger lg:hidden ml-auto w-[3rem]" data-action="open-mobile-menu">
                <img class="w-full h-auto" src="img/icons/bars-solid.svg" alt="">
            </div>
        </div>
    </div>
</header>

<div class="mobile-menu lg:hidden fixed z-51 top-0 left-0 w-full h-full bg-themeColorThird" data-mobile-menu>
    <div class="mobile-menu__head flex items-center justify-between min-h-[8rem] px-[20px]">
        <div class="mobile-menu__logo w-[11.2rem]">
            <a href="#">
                <img class="w-full h-auto" src="img/logo/logo-light.svg" alt="">
            </a>
        </div>
        <div class="mobile-menu__close" data-action="close-mobile-menu"><span></span></div>
    </div>
    <div class="mobile-menu__body flex flex-col gap-[40px] overflow-auto p-[20px] text-white">
        <ul class="mobile-menu__nav">
            <li>
                <a href="#" class="mobile-menu__nav-link w-full block text-[2.6rem] leading-[6rem] font-bold">Vacatures</a>
            </li>
            <li class="menu-item-has-children">
                <a href="#" class="mobile-menu__nav-link w-full block text-[2.6rem] leading-[6rem] font-bold">Onze filialen </a>
                <ul class="sub-menu">
                    <li>
                        <a href="#"
                            class="sub-menu__link text-[2.4rem] leading-[4.4rem] transition hover:opacity-50">Almere</a>
                    </li>
                    <li>
                        <a href="#"
                            class="sub-menu__link text-[2.4rem] leading-[4.4rem] transition hover:opacity-50">Amsterdam
                        </a>
                    </li>
                    <li>
                        <a href="#"
                            class="sub-menu__link text-[2.4rem] leading-[4.4rem] transition hover:opacity-50">Enschede</a>
                    </li>
                    <li>
                        <a href="#"
                            class="sub-menu__link text-[2.4rem] leading-[4.4rem] transition hover:opacity-50">Hilversum</a>
                    </li>
                    <li>
                        <a href="#"
                            class="sub-menu__link text-[2.4rem] leading-[4.4rem] transition hover:opacity-50">Kampen</a>
                    </li>
                    <li>
                        <a href="#"
                            class="sub-menu__link text-[2.4rem] leading-[4.4rem] transition hover:opacity-50">Utrecht
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item-has-children">
                <a href="#" class="mobile-menu__nav-link w-full block text-[2.6rem] leading-[6rem] font-bold">Alle functies </a>
                <ul class="sub-menu">
                    <li>
                        <a href="#"
                            class="sub-menu__link text-[1.7rem] leading-[3.8rem] transition hover:opacity-50">Hilversum</a>
                    </li>
                    <li>
                        <a href="#"
                            class="sub-menu__link text-[1.7rem] leading-[3.8rem] transition hover:opacity-50">Kampen</a>
                    </li>
                    <li>
                        <a href="#"
                            class="sub-menu__link text-[1.7rem] leading-[3.8rem] transition hover:opacity-50">Utrecht
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="mobile-menu__nav-link w-full block text-[2.6rem] leading-[6rem] font-bold">Contact</a>
            </li>
        </ul>

        <div class="mobile-menu__buttons flex items-center justify-center gap-[3rem] my-auto">
            <a href="#"
                class="header__toggle-login font-bold text-[1.7rem] leading-[2.1rem] flex items-center gap-[0.7rem] transition hover:opacity-50">
                <img class="img-svg" src="img/icons/user.svg" alt="">
                Inloggen
            </a>
            <a href="#" class="header__vacancies btn-default btn-default--second">
                Alle vacatures
                <span>36</span>
            </a>
        </div>
    </div>
</div>
