@font-face {
    font-family: "Hamburg-Serial";
    font-display: swap;
    src: url("../fonts/Hamburg-Serial-Bold.woff") format("woff"), url("../fonts/Hamburg-Serial-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Hamburg-Serial";
    font-display: swap;
    src: url("../fonts/Hamburg-Serial-Regular.woff") format("woff"), url("../fonts/Hamburg-Serial-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}