
$mainFontFamily:  'Hamburg-Serial', sans-serif;

$minwidth: 320px;
$mw: 1170;
$md1: 1267.98;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$textColorDark: #000;
$textColorDarkSecond: #808695;
$textColorLight: #fff;
$themeColor: #00A1E2;
$themeColorSecond: #77AE29;
$themeColorThird: #0D3855;