<footer class="footer pt-[8rem] md:pt-[10rem] pb-[4rem]" data-footer>
    <div class="container">
        <div class="footer__row-1 mb-[2rem]">
            <div class="footer__contact flex flex-wrap flex-row justify-between gap-[4rem] text lg:flex-col">
                <div class="footer__logo w-[11.2rem]">
                    <a href="#">
                        <img class="w-full h-auto" src="img/logo/logo.svg" alt="">
                    </a>
                </div>
                <div class="footer__text font-bold">
                    <p class="mb-[1rem]">Werken bij BUN</p>
                    <p class="mb-0">Een baan bij AH</p>
                </div>
                <ul class="footer__contact-list font-bold flex flex-col gap-[1rem]">
                    <li>
                        <a href="#">(036) 535 44 43</a>
                    </li>
                    <li>
                        <a href="#">www.bun.nl</a>
                    </li>
                    <li>
                        <a href="#">info@bun.nl</a>
                    </li>
                </ul>
            </div>
            <ul class="footer__nav block md:grid grid-cols-4 gap-[6rem]">
                <li>
                    <a href="#" class="footer__nav-link  text-md font-bold md:mb-[1.3rem] block">Functies</a>
                    <ul class="footer__sub-menu hidden md:block">
                        <li>
                            <a href="#" class="footer__sub-menu-link text-textColorDarkSecond text-[1.7rem] leading-[3.6rem]">Vulploegmedewerker</a>
                        </li>
                        <li>
                            <a href="#" class="footer__sub-menu-link text-textColorDarkSecond text-[1.7rem] leading-[3.6rem]">Kassamedewerker</a>
                        </li>
                        <li>
                            <a href="#" class="footer__sub-menu-link text-textColorDarkSecond text-[1.7rem] leading-[3.6rem]">Verkoopmedewerker Brood</a>
                        </li>
                        <li>
                            <a href="#" class="footer__sub-menu-link text-textColorDarkSecond text-[1.7rem] leading-[3.6rem]">Kwaliteitsmedewerker</a>
                        </li>
                        <li>
                            <a href="#" class="footer__sub-menu-link text-textColorDarkSecond text-[1.7rem] leading-[3.6rem]">BBL-Talent</a>
                        </li>
                        <li>
                            <a href="#" class="footer__sub-menu-link text-textColorDarkSecond text-[1.7rem] leading-[3.6rem]">Vroege vogels</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="footer__nav-link  text-md font-bold md:mb-[1.3rem] block">Locaties</a>
                    <ul class="footer__sub-menu hidden md:block">
                        <li>
                            <a href="#" class="footer__sub-menu-link text-textColorDarkSecond text-[1.7rem] leading-[3.6rem]">Almere</a>
                        </li>
                        <li>
                            <a href="#" class="footer__sub-menu-link text-textColorDarkSecond text-[1.7rem] leading-[3.6rem]">Amsterdam</a>
                        </li>
                        <li>
                            <a href="#" class="footer__sub-menu-link text-textColorDarkSecond text-[1.7rem] leading-[3.6rem]">Enschede</a>
                        </li>
                        <li>
                            <a href="#" class="footer__sub-menu-link text-textColorDarkSecond text-[1.7rem] leading-[3.6rem]">Hilversum</a>
                        </li>
                        <li>
                            <a href="#" class="footer__sub-menu-link text-textColorDarkSecond text-[1.7rem] leading-[3.6rem]">Rampen</a>
                        </li>
                        <li>
                            <a href="#" class="footer__sub-menu-link text-textColorDarkSecond text-[1.7rem] leading-[3.6rem]">Utrecht</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="footer__nav-link  text-md font-bold md:mb-[1.3rem] block">Algemeen</a>
                    <ul class="footer__sub-menu hidden md:block">
                        <li>
                            <a href="#" class="footer__sub-menu-link text-textColorDarkSecond text-[1.7rem] leading-[3.6rem]">Over Bun</a>
                        </li>
                        <li>
                            <a href="#" class="footer__sub-menu-link text-textColorDarkSecond text-[1.7rem] leading-[3.6rem]">Werken bij AH </a>
                        </li>
                        <li>
                            <a href="#" class="footer__sub-menu-link text-textColorDarkSecond text-[1.7rem] leading-[3.6rem]">Open sollicitatie</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="footer__nav-link  text-md font-bold md:mb-[1.3rem] block">Legal</a>
                    <ul class="footer__sub-menu hidden md:block">
                        <li>
                            <a href="#" class="footer__sub-menu-link text-textColorDarkSecond text-[1.7rem] leading-[3.6rem]">Disclaimer</a>
                        </li>
                        <li>
                            <a href="#" class="footer__sub-menu-link text-textColorDarkSecond text-[1.7rem] leading-[3.6rem]">Privacy policy</a>
                        </li>
                        <li>
                            <a href="#" class="footer__sub-menu-link text-textColorDarkSecond text-[1.7rem] leading-[3.6rem]">Press</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="social justify-center lg:justify-start">
                <li>
                    <a href="#">
                        <img class="img-svg" src="img/icons/instagram.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="img-svg" src="img/icons/Linkedin.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="img-svg" src="img/icons/youtube.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__row-2">
            <div class="footer__copy text-center text-[1.7rem] leading-[3.6rem] font-bold">© werken bij Bun</div>
        </div>
    </div>
</footer>