<section class="testimonials" data-testimonials>
    <div class="container-third">
        <h2 class="testimonials__title title-2 text-center mb-[3rem]">Jouw toekomstige collega</h2>
        <div class="testimonials__slider swiper relative">
            <div class="swiper-wrapper mb-[3rem] md:mb-0">
                <div class="swiper-slide">
                    <div class="testimonial-card md:flex bg-white overflow-hidden rounded-[0.5rem]">
                        <div class="testimonial-card__img ibg relative shrink-0 grow-0 md:w-[44rem] md:min-h-[44rem] pb-[100%] md:pb-0">
                            <img class="object-top" src="img/testimonials-photo.jpg" alt="">
                        </div>
                        <div class="testimonial-card__content shrink grow px-[2rem] md:px-[5rem] py-[3rem] md:pt-[7rem] md:pb-[4rem]">
                            <h4 class="testimonial-card__name title-4 mb-[0.3rem]">
                                Tom van Schouten
                            </h4>
                            <div class="testimonial-card__position text-md font-bold text-themeColor mb-[4rem]">
                                Verkoopmedewerker Brood Afdeling
                            </div>
                            <div class="testimonial-card__text text-content text-content--titles-dark text">
                                <h5>Waarom ben je bij Albert Heijn gaan werken?</h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                                </p>

                                <h5>Wat was je vorige baan?</h5>
                                <p>
                                    Lorem ipsum dolor sit amet.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-card md:flex bg-white overflow-hidden rounded-[0.5rem]">
                        <div class="testimonial-card__img ibg relative shrink-0 grow-0 md:w-[44rem] md:min-h-[44rem] pb-[100%] md:pb-0">
                            <img class="object-top" src="img/testimonials-photo.jpg" alt="">
                        </div>
                        <div class="testimonial-card__content shrink grow px-[2rem] md:px-[5rem] py-[3rem] md:pt-[7rem] md:pb-[4rem]">
                            <h4 class="testimonial-card__name title-4 mb-[0.3rem]">
                                Tom van Schouten
                            </h4>
                            <div class="testimonial-card__position text-md font-bold text-themeColor mb-[4rem]">
                                Verkoopmedewerker Brood Afdeling
                            </div>
                            <div class="testimonial-card__text text-content text-content--titles-dark text">
                                <h5>Waarom ben je bij Albert Heijn gaan werken?</h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                                </p>

                                <h5>Wat was je vorige baan?</h5>
                                <p>
                                    Lorem ipsum dolor sit amet.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-card md:flex bg-white overflow-hidden rounded-[0.5rem]">
                        <div class="testimonial-card__img ibg relative shrink-0 grow-0 md:w-[44rem] md:min-h-[44rem] pb-[100%] md:pb-0">
                            <img class="object-top" src="img/testimonials-photo.jpg" alt="">
                        </div>
                        <div class="testimonial-card__content shrink grow px-[2rem] md:px-[5rem] py-[3rem] md:pt-[7rem] md:pb-[4rem]">
                            <h4 class="testimonial-card__name title-4 mb-[0.3rem]">
                                Tom van Schouten
                            </h4>
                            <div class="testimonial-card__position text-md font-bold text-themeColor mb-[4rem]">
                                Verkoopmedewerker Brood Afdeling
                            </div>
                            <div class="testimonial-card__text text-content text-content--titles-dark text">
                                <h5>Waarom ben je bij Albert Heijn gaan werken?</h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                                </p>

                                <h5>Wat was je vorige baan?</h5>
                                <p>
                                    Lorem ipsum dolor sit amet.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonials__slider-buttons md:absolute z-3 top-[2.5rem] right-[3rem] flex gap-[1rem] justify-center">
                <button type="button" class="slider-btn prev w-[4rem] h-[4rem] cursor-pointer rounded-[50%] flex items-center justify-center bg-themeColor text-white text-[2.1rem] lg:hover:bg-themeColorSecond transition"><i class="icon-chevron-thin-left mr-[0.1em]"></i></button>
                <button type="button" class="slider-btn next w-[4rem] h-[4rem] cursor-pointer rounded-[50%] flex items-center justify-center bg-themeColor text-white text-[2.1rem] lg:hover:bg-themeColorSecond transition"><i class="icon-chevron-thin-right ml-[0.1em]"></i></button>
            </div>
        </div>
    </div>
</section>